Package: com.jassaljeevan.fallout4slider
Name: Fallout 4 Slider
Version: 1.2-1
Architecture:iphoneos-arm
Description: Lock screen slider of the Fallout 4 game
Maintainer: JassalJeevan <jassaljeevan@gmail.com>
Author: JassalJeevan <jassaljeevan@gmail.com>
Section: Sliders
