Package: com.jassaljeevan.fallout4slider
Name: Fallout 4 Slider
Version: 1.2-12
Architecture:iphoneos-arm
Description: Lock screen slider of the Fallout 4 game
 <p></p>
 <p>Works with both Anemone and WinterBoard!</p>
 <p>Compatible with all devices running iOS 7 - 9+</p>
 <p>This is a lock screen slider of the Fallout 4 video game. This package
 includes a slider of the game logo as well as a slider of the Fallout
 Boy. See the screenshots for more info.</p>
 <p><a href="#"></a>You can email me at <a href="mailto:jassaljeevan@gmail.com">jassaljeevan@gmail.com</a> for requests and support. You can send me requests for a donation of $2.00. You can donate using this <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HWSTZZVY42GMU">PayPal link</a>. Thank you to all those who support me by donating. Don't forget to follow me on Twitter <a href="https://twitter.com/JassalJeevan">@JassalJeevan</a></p>
 <p>For those of you who would like to receive your completed requests within 24 hours, you can donate another $1 and get your request emailed to you with instructions on how to properly install. Please specify in the email if you would like to receive your request early.</p>
Maintainer: JassalJeevan <jassaljeevan@gmail.com>
Author: JassalJeevan <jassaljeevan@gmail.com>
Section: Sliders
