Package: com.jassaljeevan.fallout4slider
Name: Fallout 4 Slider
Version: 1.2-2
Architecture:iphoneos-arm
Description: Lock screen slider of the Fallout 4 game
 Works with both Anemone and WinterBoard
 &nbsp;
 Compatible with all devices running iOS 7 - 9+
 &nbsp;
 This is a lock screen slider of the Fallout 4 video game. This package
 includes a slider of the game logo as well as a slider of the Fallout
 Boy. See the screenshots for more info.
 &nbsp;
 You can email me at jassaljeevan@gmail.com for requests and support.
 You can send me requests for a donation of $2.00. There is a PayPal
 link below for donations. Thank you to all those who support me by
 donating.
 &nbsp;
 For those of you who would like to receive your completed requests
 within 24 hours, you can donate another $1 and get your request
 emailed to you with instructions on how to properly install. Please
 specify in the email if you would like to receive your request early.
Maintainer: JassalJeevan <jassaljeevan@gmail.com>
Author: JassalJeevan <jassaljeevan@gmail.com>
Section: Sliders
