/* CSS Document */
html {
	overflow-y: scroll;
	max-width: 100%;
}

body {
	background-color: #EDEDED;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif
}

div {
	max-width: 100%;
	background-color:#FFFFFF;
	border-bottom-style:solid;
	border-bottom-color:#D2D2D2;
	border-bottom-width:1px;
	border-top-style:solid;
	border-top-color:#D2D2D2;
	border-top-width:1px;
	margin-top: 15px;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
}

.title {
	color:black;
	margin: 15px;
	margin-bottom: -6px;
	font-weight: 300;
	font-size: 125%;
	border-bottom-style:solid;
	border-bottom-color:#E3E3E3;
	border-bottom-width:1px;
}

p {
	color:#5E5E5E;
	margin: 15px;
	font-size: 90%;
	font-weight:300;
}

#description img {
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
}

#paypal-link {
	margin-bottom:0px;
	padding-bottom:0px;
}

.links-align {
	margin-top: 7px;
	margin-bottom: 7px;
	margin-left:15px;
}

.links {
	margin-top:0px;
	margin-bottom:0px;
	border-top:none;
	text-decoration:none;
}

label {
	font-weight: 400;
	margin-top:2px;
	margin-left:5px;
	color:black;
	font-size:115%;
}

.pull-right {
	margin-right: 15px;
}

a:link {
	text-decoration:none;
}

a:hover {
	color:#D2D2D2;
}

#screenshots-link {
	border-top-style:solid;
	border-top-color:#D2D2D2;
	border-top-width:1px;
}
#description {
	margin-bottom:0px;
}

.images {
	max-width: 414px;
	width: 100%;
}