Package: com.jassaljeevan.rebamcentirebootlogo
Name: Reba McEntire Boot Logo
Version: 1.0.1
Architecture:iphoneos-arm
Description: Boot Logo of Reba McEntire
 <p>Works with both Anemone and WinterBoard!</p>
 <p>Compatible with all devices running iOS 7 - 9+</p>
 <p>This is a boot logo Reba McEntire. It will show every time you respring your device. See the screenshots for more info. This package was requested by Regina Blanton.</p>
 <p><a href="#"></a>You can email me at <a href="mailto:jassaljeevan@gmail.com">jassaljeevan@gmail.com</a> for requests and support. You can send me requests for a donation of $2.00. You can donate using this <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HWSTZZVY42GMU">PayPal link</a>. Thank you to all those who support me by donating. Don't forget to follow me on Twitter <a href="https://twitter.com/JassalJeevan">@JassalJeevan</a></p>
 <p>For those of you who would like to receive your completed requests within 24 hours, you can donate another $1 and get your request emailed to you with instructions on how to properly install. Please specify in the email if you would like to receive your request early.</p>
Depiction: https://jassaljeevan.github.io/depictions/com.jassaljeevan.rebamcentirebootlogo/
Maintainer: JassalJeevan <jassaljeevan@gmail.com>
Author: JassalJeevan <jassaljeevan@gmail.com>
Section: Boot Logos
